/* Task 1 */
html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 6.75rem;
}

.sty {
  border: 2px solid brown;
  text-align: center;
  padding: 30px;
  margin-top: 20px;
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
  background: aliceblue;
  font-size: 2rem;
  font-weight: 500;
}

/* End of task 1 */