:root {
    font-size: 18px;
    --text-color: #565454;
    --h1-color: #212427;
    font-family: Montserrat;
    text-transform: capitalize;
    max-width: 1400px;
    --button-color: #ff9090;
}

body {
    background-image: url(../assets/svgs/istockphoto-1483863447-2048x2048\ 2\ \(1\).svg);
    background-position: cover;
    background-repeat: no-repeat; 
}

#main {
    display: flex; 
    max-height: 100vh;
    height: 100%;
    width: 80%;
    margin: auto;
    position: relative;
}

.sect {
    display: flex;
    flex-direction: column;
    flex: 1;
} 

.one {
    position: relative;
    top: 4.389rem;
    left: 3.78rem;
    height: 23.89rem;
}

/* .one:hover {
    border: 1px solid #000000a5;
} */

h1 {     
    font-weight: 700;
    font-style: Bold;
    font-size: 2rem;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--h1-color);
    width: 8.33rem;
}

#form {
    margin-top: 1.1rem;
    font-size: 1rem;
}

#email, #passwordInput {
    margin-top: 1.17rem;
    width: 25rem;
    padding: 1rem 1rem 1rem 3.33rem;
}

.wrap {
    position: relative;
}

.input-icon {
    position: absolute;
    top: 1.67rem;
    left: 0.83rem;
}

/* .open {
    position: absolute;
    top: 1.67rem;
    right: 6.39rem;
    width: 1.67rem;
    height: 1.67rem;
} */

#closedImg, #openImg {
    border: none;
    background: transparent;
} 

#check {
    margin-top: 1.17rem;
    margin-right: 1.1rem;
}

input[type="submit"] {
    margin-top: 1.72rem;
    width: 8.33rem;
    padding: 1rem;
    background-color: var(--button-color);
    color: white;
    border: none;
    border-radius: 5px;
}

#p-line {
    margin-top: 2.2rem;
    display: inline-flex;
    align-items: center;
}

#p-line span {
    margin-left: 1.39rem;
}

span > a > img {
    margin-left: 15px;
}

.img {
    box-shadow: 0 0 0 5px blue
}

.last {
    margin-top: 15px;
}

#blue {
    color: #008BD9;
;
}



.two {
    object-fit: cover;
    height: 29.44rem;
    position: relative;
    top: 3.33rem;
    right: 0;
}

/* .two:hover {
    border: 1px solid blueviolet;
} */

.two img {
    width: 100%;
    height: 100%;
}
    