main{
    font-size: 30px;
    color: blue;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

/* .section2 {
    border-radius: 50px solid purple;
    height: 30vh;
} */